body {
  box-sizing: border-box;
  margin: 0;
  padding: 3rem;
}

input{
  font-size: 1.3rem;
  width: 100%;
}

.card-grid{
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(250px,1fr));  
}

.card{
  align-content: center;
  border: 1px solid #e2e2e2;
  margin: 0 .5em .5em 0;
  overflow: hidden;
}
.card p {
  font-size: 14px;
  text-align: center;
}

.card img {
  height: auto;
  max-height: 170px;
}

